#body{
    background-color: lightslategrey;
}

h1{
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font: 16px;
    text-align: center;
    font-weight: bold;
    color: black;
  }

h2{
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font: 14px; 
    text-align:left;
    font-weight: bold;
    color: black;
  }

  h5{
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font:10px;
    text-align:center;
    color: grey;
  }
  
  .container{
    width:90%;
    background-color: green
    padding=10px;
  }
  
 