#body{
    background-color: olive;
}

h1{
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font: 14px;
    text-align: center;
    font-weight: bold;
    color: black;
  }

h2{
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font: 12px; 
    text-align:left;
    font-weight: bold;
    color: black;
  }

  h5{
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font:10px;
    text-align:center;
    color: grey;
  }

  .container{
    width: 80%;
    
  
  }
  
 .rGenerator{
   

 }

 .p1 {
   font-family:"Arial", "Helvetica", sans-serif;
   font-size: 10px;
   color: tomato;
 }